.nav-logo-tt {
    width: 10%;
}

@media (max-width: 768.5px) {
    .nav-logo-tt {
        width: 0%;
    }
}

.after-nav {
    margin-top: 155px;
}

.signature {
    display: flex;
    align-items: center;
}

@media (max-width:768.5px) {
    .after-nav {
        margin-top: 99px;
    }

    .signature {
        display: grid;
        align-items: center;
    }
}

.hubungi-kami {
    font-family: Poppins, sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 18px;
}

.hubungi-kami-list {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
}

#lo-fo-one {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:991.5px) {
    #lo-fo-one {
        display: flex;
        justify-content: space-evenly;
        margin-top: 85px;
    }

}

.lo-fo {
    display: grid;
    justify-content: center;
    align-items: center;
}

.lo-of {
    display: flex;
    justify-content: center;
    margin-bottom:20px;
}

.lo-dis {
    display: flex;
    justify-content: center;
}

/* Font */
.f-biasa {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 40px;
    color: #2b6796;
    font-weight: 700;
}

.f-latin {
    font-family: brush script mt, cursive;
    font-size: 35px;
    color: #fba919;
}

.graf {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    text-align: justify;
}

.f-nama-menu {
    font-family: Montserrat-Bold, sans-serif;
    font-size: 30px;
    color: #2b6796;
    font-weight: 700;
    line-height: 35px;
}

/* End */

/* button */
.btn-default {
    font-family: Poppins, sans-serif;
    font-weight: 900;
    border-radius: 50px;
    background: #2b6796;
    border-color: #2b6796;
    color: #fff;
    font-size: 14px !important;
    letter-spacing: 1px;
}

.btn-default:hover {
    box-shadow: 1px 3px 0px 0px #2b6796;
    font-family: Poppins, sans-serif;
    font-weight: 900;
    border-radius: 50px;
    background: #fba919;
    border-color: #fba919;
    color: #fff;
    font-size: 14px !important;
    letter-spacing: 1px;
    box-shadow: 4px 5px 2px 0px #2b6796 !important;
}

.btn-default:active {
    box-shadow: 1px 3px 0px 0px #2b6796;
    font-family: Poppins, sans-serif;
    font-weight: 900;
    border-radius: 50px;
    background: #fba919;
    border-color: #fba919;
    color: #fff;
    font-size: 14px !important;
    letter-spacing: 1px;
    box-shadow: 4px 5px 2px 0px #2b6796 !important;
}
/* end */

.d-bl {
    display: grid;
    justify-content: start;
}

.d-bl-menu {
    display: grid;
    justify-content: start;
}

.graf-menu {
    font-size: 16px;
    font-weight: 300;
    color: #333;
    text-align: justify;
    margin-bottom: 50px;
}

.img-menu-s {
    width: 515px;
}

@media (max-width:1199.5px) {
    .img-menu-s {
        width: 415px;
    }
}

.price-img {
    margin-bottom: 0px;
}

@media (max-width:767.5px) {
    .price-img {
        margin-bottom: 30px;
    }
}

.mar-mar {
    background-color: #fff;
    margin: 10px;
}

@media (max-width:477.5px) {
    .mar-mar {
        background-color: #fff;
        margin: 5px;
    }

    .img-menu-s {
        width: 330px;
    }
}

@media (max-width:435.5px) {
    .mar-mar {
        background-color: #fff;
        margin: -50px -50px 0px -50px;
    }

    .img-menu-s {
        width: 285px;
    }
}

@media (max-width:310.5px) {
    .mar-mar {
        background-color: #fff;
        margin: -50px -50px 0px -50px;
    }

    .img-menu-s {
        width: 240px;
    }
}

#menu-title {
    margin-bottom: 0;
}

@media (max-width:768.5px) {
    #menu-title {
        margin-bottom: 60px;
    }
}

.f-tanpatapi {
    color: #fff;
    font-weight: lighter;
    font-family: system-ui;
}

.direct-position {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: -153px;
}

.tombol-direct {
    font-family: Montserrat-Bold, sans-serif;
    border-radius: 50px;
    background: #fff;
    border-color: #fff;
    color: #000;
    font-size: 35px !important;
    letter-spacing: 1px;
    padding: 20px 50px 20px 50px;
    /* top: 0px; */
    /* z-index: 1; */
}

.tombol-wa-icon {
    width:45px;
}

@media (max-width:768.5px) {
    .direct-position {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-bottom: -80px;
    }
}

@media (max-width:449.5px) {
    .direct-position {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-bottom: -70px;
    }

    .tombol-direct {
        font-family: Montserrat-Bold, sans-serif;
        border-radius: 50px;
        background: #fff;
        border-color: #fff;
        color: #000;
        font-size: 20px !important;
        letter-spacing: 1px;
        padding: 20px 50px 20px 50px;
        /* top: 0px; */
        /* z-index: 1; */
    }

    .tombol-wa-icon {
        width:35px;
    }
}

#hellosid {
    margin-bottom: -130px;
    margin-top: 70px;
    background: #fba919;
}

@media (max-width:768.5px) {
    #hellosid {
        margin-bottom: -85px;
        margin-top: 20px;
        background: #fba919;
    }
}